.container {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  gap: 4rem;
  min-height: 65px;
  z-index: 10;

  button {
    background: none;
    color: aliceblue;
    font-size: 1.1rem;
    transition: color 0.3s ease-out;

    &:hover {
      color: rgb(255, 230, 0);
      cursor: pointer;
    }
  }
}
