.container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  background: linear-gradient(90deg, #000d1a, #07172c, #000d1a);
  color: white;
  padding: 40px;


  span {
    font-size: 2rem;
    font-weight: 500;
  }
}
