:root {
  --background-color: #07172c;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Comfortaa", sans-serif;
}

html,
body {
  overflow: hidden;
}
html {
  background-color: var(--background-color);
}

section::-webkit-scrollbar {
  width: 7px;
}

section::-webkit-scrollbar-thumb {
  --scrollbar-color: rgb(56, 64, 108);
  box-shadow: inset 20px 20px 100px var(--scrollbar-color);
  -webkit-border-radius: 7px;
}
