.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;

  .presentation {
    transform-origin: top;
    transition: all 1s ease-in-out;
    transform: translateY(-100vh);
    height: 0;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 20px 20px 100px rgb(56, 64, 108);
    -webkit-border-radius: 7px;
  }

  .presentationView {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100vh - 65px);
    justify-content: center;
    align-items: center;

    .presentationVideo {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      z-index: -5;
      object-fit: cover;
      filter: blur(4px);
    }

    .social {
      position: absolute;
      top: 30px;
      display: flex;

      gap: 30px;

      .socialIcons {
        font-size: 1.8rem;
        color: white;
      }
    }

    .boxTitle {
      .title,
      .subtitle {
        width: 100%;
        text-align: center;
        user-select: none;
        color: white;
      }

      .title {
        font-size: 8.5rem;
        font-family: "Righteous", serif;
        line-height: 9rem;
      }

      .subtitle {
        text-align: center;
        font-size: 1.6rem;
        font-family: "Comfortaa", serif;
        text-transform: uppercase;
      }
    }
  }
}
.main {
  min-height: 200vh;
}

.showPresentationView {
  .container {
    &::-webkit-scrollbar {
      width: 0px;
    }

    .presentation {
      transform-origin: top;
      transition: all 1s ease-in-out;
      transform: translateY(0);
      height: 100vh;
    }
  }
}
