.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  
  
  scroll-snap-type: y mandatory;

  .presentation {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100vh - 65px);
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;

    .presentationVideo {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      z-index: -5;
      object-fit: cover;
    }

    .social {
      position: absolute;
      top: 30px;
      display: flex;

      gap: 30px;

      .socialIcons {
        font-size: 1.8rem;
        color: white;
      }
    }

    .boxTitle {
      .title,
      .subtitle {
        user-select: none;
        color: white;
      }

      .title {
        font-size: 18.3rem;
        font-family: "Righteous", serif;
        line-height: 17rem;
      }

      .subtitle {
        font-size: 1.8rem;
        font-family: "Comfortaa", serif;
        margin-left: 0.8rem;
        text-transform: uppercase;
      }
    }
  }

  .main {
    scroll-snap-align: start;
    min-height: 200vh;
  }
}

