.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  background-size: cover;

  .card {
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 50px;
    width: 70px;
    height: 350px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    background-image: url("https://th.bing.com/th/id/R.f20ec8c766240deaa8d8e5124385935f?rik=Jqg6B1XVLN%2fk8Q&riu=http%3a%2f%2fwww.86ps.com%2fUploadFiles%2fArticle%2f2016-1%2f0121%2f1%2f3.jpg&ehk=KGaWXpddOaRFO1%2fYekKVgkSPdxmpSc4vYZ%2b9adRT07o%3d&risl=&pid=ImgRaw&r=0");
    background-size: contain;
    background-position: 50px -260px;
    background-attachment: fixed;

    cursor: pointer;

    padding-bottom: 10px;
    border-radius: 13px;

    img {
      position: absolute;
      bottom: 0px;
      padding: 10px;
      width: 100%;

      max-width: 80px;
      height: fit-content;
      border-radius: 13px;
      user-select: none;

      transform: translateX(0px);
    }

    h3 {
      width: 30px;
      font-size: 2rem;
      user-select: none;
      text-wrap: nowrap;
      transition: transform 0.6s ease;
      transform: translate(80px, 275px);
    }

    .type {
      width: 50px;
      text-wrap: nowrap;
      transform: translate(80px, 276px);
      font-size: 1.1rem;
    }

    p {
      display: none;
    }
  }

  .activeCard {
    width: 600px;

    h3 {
    }
  }
}
